DISCORD_TOKEN=""
GUILD_ID=""
COMMAND_CHANNEL_ID=""
SCHEDULE_CHANNEL_ID=""
RENT_CHANNEL_ID=""
MEMBER_ROLE=Miembro GH
RENTER_ROLE=Socio GH
ADMIN_ROLE=Gestor GH
MAX_MEMBER_HOURS=4
MAX_RENTER_HOURS=8
DEFAULT_DUMMY_PRICE=25
